nav {
	background-color: #cc181e;
	border-radius: 0;
}

.navbar-brand > img {
	height: 32px;
	margin-left: 10px;
}
.navbar-nav .container {
	float: left;
}
.user {
	float: right;
	line-height: 40px;
}

.user a {
	margin-right: 50px;
	text-decoration: none;
	color: #fff;
}